{
  /**
   * Disable the module option as we use node modules:
   */
  "parserOptions": {
    "sourceType": "module",
  },
  /**
   * Set Environnement
   */
  // Done by airbnb
  /**
   * Set globals
   */
  // Done by airbnb
  /**
   * Set rules
   */
  "extends": "airbnb-base",
  // Overwritten airbnb's rules:
  "rules": {
    /* strict: ["error", "global"],*/
    func-names: ["error", "never"],
    space-before-function-paren: ["error", "never"],
    no-plusplus: ["error", { "allowForLoopAfterthoughts": true }],
    no-multi-spaces: ["error", { exceptions: { "VariableDeclarator": true } }],
    comma-style: ["error", "first", { "exceptions": { "ArrayExpression": true, "ObjectExpression": true } }],
    indent: ["error", 2, { "VariableDeclarator": { "const": 2 }, "SwitchCase": 1 }]
  }
}
